.perfume__card {
  margin: 1rem;
  width: var(--card-width-desktop);
  height: var(--card-height-desktop);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image info";
}

.perfume__image {
  grid-area: "image";
}


.perfume__info {
  grid-area: "info";
  padding-inline: var(--card-text-padding-inline);
  /* padding-top: var(--card-text-padding-top); */
  background-color: var(--pure-white);
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}


.perfume__name__above {
  font-family: var(--secondary-font);
  font-weight: var(--font-weight-normal);
  letter-spacing: var(--perfume-letter-spacing);
}

.perfume__prices {
  display: flex;
  gap: var(--prices-gap);
  align-items: center;
}

.perfume__name{
  
}

.perfume__anteriorPrice {
  text-decoration: line-through;
}

.perfume__name__above {
  font-size: var(--perfume-top-font-size);
}

.perfume__name,
.perfume__description {
  width: var(--text-width);
}

.perfume__name,
.perfume__price {
  font-family: var(--product-name-font);
  font-size: var(--heading-font-size);
  font-weight: var(--font-weight-bold);
  line-height: var(--heading-line-height);
}

.perfume__name__above,
.perfume__description,
.perfume__anteriorPrice {
  color: var(--auro-metal-saurus);
}

.perfume__description,
.perfume__anteriorPrice {
  font-family: var(--secondary-font);
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-normal);
  line-height: var(--paragraph-line-height);
}

.perfume__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--deep-aquamarine);
  color: var(--pure-white);
  font-family: var(--secondary-font);
  font-size: var(--body-font-size);
  font-weight: var(--font-weight-bold);
  border-radius: var(--button-border-radius);
  width: 100%;
  height: var(--button-height);
  text-align: center;
}

.perfume__btn:before {
  display: inline-flex;
  content: "";
  background-image: url(../images/icon-cart.svg);
  background-repeat: no-repeat;
  height: var(--cart-dimensions);
  width: var(--cart-dimensions);
  margin-right: var(--button-cart-margin);
  align-items: center;
}

.perfume__btn:hover {
  background-color: var(--deep-aquamarine-hover);
}

.perfume__name {
  color: var(--gun-metal);
}

.perfume__price {
  color: var(--deep-aquamarine);
}

#desktop__image {
  border-top-left-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
}

#mobile__image{
  display: none;
}