@media (width < 40rem) {
    #desktop__image{
        display: none;
    }
    #mobile__image{
        display: inline-block;

    }

    .perfume__card {
        padding-inline: 3.2rem;
        border: 2px solid salmon;
    height: 62rem;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows:
      24rem
      38rem;
    grid-template-areas:
      "image"
      "info";
  }
  }

  .perfume__info {
    justify-content: space-evenly;
    width: 100%;
    border-bottom-right-radius: var(--card-border-radius);
    border-bottom-left-radius: var(--card-border-radius);
    border-top-right-radius: 0;
  }

  .perfume__name,
  .perfume__description {
    width: 100%;
  }
